body { 
	font-family: sans-serif; 
	font-weight: 100; 
}

.header{
	margin-bottom: -13px;
}

.main_title { 
	padding-top: 10px; 
	line-height: 80%; 
}

h4 { 
	color: #555555;
}

.dead { 
	background-color: red;
}

.ie { 
	/* margin: auto; */
    width: 50%;
    border: 1px solid black;
    padding-left: 10px; 
    font-style: italic; 
    background-color: F3F3F3; 
}

.dialogue { 
	/* margin: auto; */
    font-family: monospace; 
    font-size: large; 
    width: 50%;
    border: 1px solid black;
    padding-left: 10px; 
    font-style: italic; 
    background-color: F3F3F3; 
    line-height: 150%; 
}


table, tr, th, td { 
	border-collapse: collapse; 
	border: 1px solid black; 
	padding: 5px 5px 5px 5px; 
}

.monster-heading { 
	line-height: 5%;
	color: green;  
}

.img-ctn { 
	float: right; 
}

#dice-ctn{ 
	 border: 1px solid black; 
	 display: inline-block; 
	 text-align: center; 
	 padding: 10px; 
	 font-family: cursive; 
	 font-size: xx-large; 
	 font-weight: 900;
	 width: 125px; 
}

#crit { 
	color: white; 
	background-color: red; 
	border: 1px solid black; 
	width: 50px; 
	text-align: center; 
	padding: 10px; 
	font-family: cursive; 
	font-size: xx-large; 
	font-weight: 900;
}

#d20 { 
	border: 1px solid black; 
	text-align: center;
	width: 100px;
	padding-right: 10px; 
	padding-left: 10px; 
	margin-bottom: 6px;
}


#d8 { 
	text-align: center;
	width: 100px; 
	border: 1px solid black; 
	padding-right: 10px; 
	padding-left: 10px; 	
	margin-top: 5px; 
	
}

#d6 { 
	width: 100px; 
	border: 1px solid black; 
	margin-top: 5px; 
	padding-right: 10px; 
	padding-left: 10px; 
	text-align: center;
}

#d4 { 
	width: 100px; 
	border: 1px solid black; 
	margin-top: 5px; 
	padding-right: 10px; 
	padding-left: 10px; 	
	text-align: center;
}


#battleground input {
	
	font-size: small;
	color: #333;
	background: #eee;
	border-radius: 3px;
	transition: background 0.8s ease-in-out;
	transition-delay: initial;
}

#reset button {  
	color: white;
	background-color: #555555;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

